{{ define "main" }}

<article>
  <h1>{{ .Title }}</h1>

  <div id="image-container"></div>

  <script>
    async function fetchImage() {
      const response = await fetch("https://mikuworker.dev");
      if (response.ok) {
        const img = document.createElement("img");
        img.src = URL.createObjectURL(await response.blob());
        img.alt = "Hatsune Miku";
        document.getElementById("image-container").innerHTML = "";
        document.getElementById("image-container").appendChild(img);
      } else {
        document.getElementById("image-container").textContent =
          "Failed to load image.";
      }
    }

    if (document.title === "ooo eee ooo") {
      fetchImage();
    }
  </script>

  {{ if .Params.toc }}
  <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
  </aside>
  {{ end }} {{ .Content }}
</article>
{{ end }}
